.cta-bg{
  background-image: url(/assets/img/ctaBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 480px){
  .cta-bg{
  background-image: url(/assets/img/ctaBgMobil.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
}