@import url('../css/whatsap.css');
@import url('../css/main-info.css');
:root{
  --blanco-puro: #FFFFFF ;
  --borde-morado: #5355DD;
  --azul-profundo: #0F172A;
  --celeste-electrico: #3B82F6;
  --texto-inter: 'Inter', sans-serif;

}
* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--azul-profundo);
}

